@model CouponDTO

<h1>Update Coupon, top kek hehe,lol kek,lol,kek</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCoupon">

            <div class="from-group">
                <label asp-for="Name" class="control-group"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="from-group">
                <label asp-for="Precent" class="control-group"></label>
                <input asp-for="Precent" class="form-control" />
            </div>

            <div class="from-group from-check">
                <label class="form-check-label">
                    <input class="from-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(Model => Model.IsActive)
                </label>
            </div>

            <div class="from-group">
                <label asp-for="Created" class="control-group"></label>
                <input asp-for="Created" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form> 
    </div>
</div>

<div>
    <a asp-action="CouponIndex">Back To List</a>
</div>